no-proxy=.huawei.com
registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/npm-central-repo/
@nce:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm
@dc-icons:registry=https://npm.cloudartifact.dgg.dragon.tools.huawei.com/artifactory/api/npm/npm-dc-icons/
strict-ssl=false
@opentiny:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/npm-central-repo/

@hui:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
//cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/:_auth="aHVpX2FkbWluOmh1aV9CZXN0NjY2IQ=="