no-proxy=.huawei.com
registry=https://maven.cloudartifact.lfg.dragon.tools.huawei.com/artifactory/api/npm/cbu-npm-public/
@opentiny:registry=https://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/npm-central-repo/
