.ev_GanttChart_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .ev_GanttChart_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    .ev_GanttChart_header {
      width: 100%;
      padding-top: 14px;
      padding-bottom: 8px;
      .ev_GanttChart_headerTimeLine {
        height: 28px;
        background: #fafafa;
        display: flex;
        .ev_GanttChart_headerTitle {
          display: inline-block;
          width: 92px;
          font-size: 12px;
          line-height: 28px;
          font-weight: 500;
          color: #4e4e4e;
          padding-left: 16px;
          box-sizing: content-box;
        }
        .ev_GanttChart_headerTime {
          flex: 1;
          display: flex;
          position: relative;
          justify-content: flex-start;
          align-items: center;
          transform: translate(-7px);
          .ev_GanttChart_timeTip {
            padding: 0 8px;
            height: 14px;
            font-size: 12px;
            font-weight: 500;
            color: #6d8ff0;
            text-align: center;
            line-height: 14px;
            background: #ffffff;
            border: 1px solid #6d8ff0;
            border-radius: 4px;
            position: absolute;
            top: -14px;
            transform: translate(-50%);
            box-sizing: content-box;
            z-index: 20;
            &:before {
              position: absolute;
              display: inline-block;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid #6d8ff0;
              left: 50%;
              top: 100%;
              transform: translate(-50%);
              content: '';
            }
            &:after {
              position: absolute;
              display: inline-block;
              border-left: 3px solid transparent;
              border-right: 3px solid transparent;
              border-top: 3px solid #ffffff;
              left: 50%;
              top: 100%;
              transform: translate(-50%);
              content: '';
            }
          }
          .ev_GanttChart_scale {
            width: 1px;
            height: 2px;
            background: #4e4e4e;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .ev_GanttChart_scale.nub {
            background: transparent;
            .ev_GanttChart_nubScale {
              font-size: 12px;
              color: #191919;
              text-align: center;
              line-height: 28px;
            }
          }
          .ev_GanttChart_scaleBlank {
            flex: 1;
          }
          .ev_GanttChart_scale.high {
            height: 6px;
          }
          .ev_GanttChart_currentTip {
            padding: 0 8px;
            height: 14px;
            font-size: 12px;
            font-weight: 500;
            color: #6d8ff0;
            text-align: center;
            line-height: 14px;
            background: #ffffff;
            border: 1px solid #6d8ff0;
            border-radius: 4px;
            position: absolute;
            top: -14px;
            right: 0;
            transform: translate(50%);
            box-sizing: content-box;
            z-index: 10;
            &:before {
              position: absolute;
              display: inline-block;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid #6d8ff0;
              left: 50%;
              top: 100%;
              transform: translate(-50%);
              content: '';
            }
            &:after {
              position: absolute;
              display: inline-block;
              border-left: 3px solid transparent;
              border-right: 3px solid transparent;
              border-top: 3px solid #ffffff;
              left: 50%;
              top: 100%;
              transform: translate(-50%);
              content: '';
            }
          }
        }
      }
    }

    .ev_GanttChart_body {
      flex: 1;
      display: flex;
      width: 100%;
      .ev_GanttChart_axisWrapper {
        height: 100%;
        .ev_GanttChart_axis {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .ev_GanttChart_axisItem {
            width: 101px;
            padding: 8px 7px 8px 0;
            font-weight: 500;
            font-size: 12px;
            color: #4e4e4e;
            line-height: 12px;
            list-style: none;
            max-width: 108px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: content-box;
          }
        }
      }
      .ev_GanttChart_chartWrapper {
        flex: 1;
        position: relative;
        width: 100%;
        transform: translate(-7px);
        .ev_GanttChart_chartItemWrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .ev_GanttChart_chartItem {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
            position: relative;
            .ev_GanttChart_chartPostWrapper {
              width: 100%;
              padding: 4px 0;
              height: 20px;
              position: absolute;
              left: 0;
              top: 0;
              box-sizing: content-box;
              .ev_GanttChart_chartPost {
                height: 20px;
                border-radius: 4px;
                position: absolute;
                top: 4px;
                cursor: pointer;
                .ev_GanttChart_postPoint {
                  position: absolute;
                  left: 8px;
                  top: 8px;
                  width: 4px;
                  height: 4px;
                  border-radius: 2px;
                }
                .ev_GanttChart_postLabel {
                  position: absolute;
                  right: 8px;
                  top: 4px;
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 12px;
                }

                .ev_GanttChart_toolTip {
                  display: none;
                  width: 260px;
                  border-left: 1px solid #9b9b9b;
                  position: absolute;
                  left: 100%;
                  z-index: 1000;

                  .ev_GanttChart_toolTipContent {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 243px;
                    height: 232px;
                    background: #fff;
                    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.16);
                    border-radius: 4px;
                    padding: 20px;
                    box-sizing: border-box;
                    .title {
                      margin-bottom: 16px;
                      font-size: 16px;
                      font-weight: bold;
                    }
                    .tag {
                      margin: 4px 0 16px;
                      font-size: 12px;
                      display: inline-flex;
                      align-items: center;
                      height: 24px;
                      padding: 0 8px;
                      line-height: 24px;
                      border-radius: 16px;
                      color: #2070f3;
                      background: rgba(32, 112, 243, 0.1);
                      border-radius: 16px;
                      &::before {
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin-right: 8px;
                        background: #2070f3;
                        border-radius: 50%;
                      }
                    }
                    .tag.success {
                      background: rgba(80, 194, 145, 0.1);
                      color: #50c291;
                      &::before {
                        background: #50c291;
                      }
                    }
                    .tag.failed {
                      background: rgba(244, 100, 101, 0.1);
                      color: #f46465;
                      &::before {
                        background: #f46465;
                      }
                    }
                    .time {
                      margin-bottom: 8px;
                      font-size: 12px;
                    }
                    .ev_linkField {
                      float: right;
                      margin-top: 12px;
                    }
                  }
                }
                &:hover {
                  .ev_GanttChart_toolTip {
                    display: block;
                  }
                }
              }
            }
            .ev_GanttChart_tractionLineWrapper {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              .ev_GanttChart_towingPoint {
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background: #dbdff2;
              }
              .ev_GanttChart_tractionLine {
                height: 1px;
                width: calc(100% - 4px);
                background: #dbdff2;
              }
            }
          }
        }
        .ev_GanttChart_chartBack {
          width: 100%;
          height: 100%;
          display: flex;
          .ev_GanttChart_lineItem {
            flex: 1;
          }
          .ev_GanttChart_lineItemBorder {
            width: 1px;
            height: 100%;
            background: #eee;
          }
        }
      }
    }
  }
}
